<div class="mt-5">
  <div class="mt-ms mt-xs-ms">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb gindar-blue-bg lighten-4 font-OpenSans-light fs-li-a">
          <li class="breadcrumb-item li-fs">
            <a class="gindar-yellow-text a-fs" routerLink="/">Inicio</a><i class="fas fa-angle-double-right mx-2"
                                                                           aria-hidden="true"></i>
          </li>
          <li class="breadcrumb-item gindar-yellow-text li-fs active">Pol&iacute;ticas de devoluci&oacute;n</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="wow fadeIn">
          <h2 class="h2 mb-5">POL&Iacute;TICAS DE DEVOLUCI&Oacute;N</h2>
        </div>
        <div class="card mb-5">
          <div class="card-body text-justify">
            <p class="font-weight-light">Proporcionamos calidad y rendimiento a tu estilo de vida. Creemos lo mismo de
              nuestro servicio de atención al cliente. Si necesitas devolver o cambiar un producto, estaremos encantados
              de ayudarte.</p>
            <p class="font-weight-light">Los productos comprados en nuestra tienda y /o plataforma virtual podrán
              cambiarse por crédito de la tienda de acuerdo con el precio de venta actual, siempre que el producto no
              haya sido usado ni lavado, y previa aprobación del responsable de la empresa.</p>
            <p class="font-weight-light">No se aceptan productos que muestren signos evidentes de uso, que estén
              deteriorados o que hayan sido modificados.</p>
            <p class="font-weight-light">El plazo para realizar cambios es de 7 días, devolviéndose con el empaque
              original, sin muestras de uso y con la boleta de compra.</p>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
