<div class="card align-items-center wider card-ecommerce">
  <div class="view overlay">
    <img src="{{item.image | itemImage}}" class="card-img-top"
         alt="">
    <a routerLink="/vitrina/{{item.ruc.substr(0,2)}}/detalle/{{item.code}}">

      <app-circle-discount *ngIf="item.sysPrice > item.webPrice" [discount]="item.sysPrice | discount : item.webPrice">
      </app-circle-discount>

      <div class="mask flex-center rgba-stylish-strong">
        <p class="white-text"><i class="fas fa-search-plus fa-2x"></i></p>
      </div>
    </a>
  </div>
  <div class="card-body card-body-cascade text-center">
    <h5 class="card-title mb-2">
      <span class="text-primary mb-2 font-OpenSans-regular">{{item.brandName}}</span>
      <br>
      <span class="badge badge-pill danger-color">Nuevo</span>
    </h5>
    <h5 class="text-muted font-OpenSans-regular">{{item.description}}</h5>

    <p class="font-weight-bold text-dark" *ngIf="item.sysPrice <= item.webPrice">
      <span class="badge badge-primary text-oferta ml-1">S/ {{item.webPrice.toFixed(2)}}</span>
    </p>

    <p class="font-weight-bold text-dark text-tachado" *ngIf="item.sysPrice > item.webPrice">
      <strong>S/ {{item.sysPrice.toFixed(2)}}</strong> <span
      class="badge badge-primary text-oferta ml-1">S/ {{item.webPrice.toFixed(2)}}</span>
    </p>

  </div>
</div>

