<div class="card">
  <div class="card-title mt-2 mb-0 container">
    <div class="row">
      <div class="col-6">
        <h3> {{storeName}} </h3>
      </div>
      <div class="col-6 text-right">
        <div class="form-check">
          <input class="form-check-input" type="radio"
                 (change)="changeStore()"
                 name="store"
                 id="rd-{{storeName}}"
                 value="{{storeRuc}}"
                 [checked]="storeRuc === storeSelected?.ruc">
          <label class="form-check-label" for="rd-{{storeName}}">
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body card-body-ms">
    <div class="table-responsive">
      <table class="table producto-table">
        <thead class="cl-gindar-blue white-text">
        <tr>
          <th class="font-weight-bold text-center">
            <strong>Imagen</strong>
          </th>
          <th class="font-weight-bold text-center">
            <strong>Producto</strong>
          </th>
          <th class="font-weight-bold text-center">
            <strong>Precio</strong>
          </th>
          <th class="font-weight-bold text-center">
            <strong>Cantidad</strong>
          </th>
          <th class="font-weight-bold text-center">
            <strong>Sub-Total</strong>
          </th>
          <th class="font-weight-bold text-center">
            <strong>Acciones</strong>
          </th>
        </tr>
        </thead>
        <tbody class="pd-td">

        <app-cart-item
          *ngFor="let cart of items"
          [cart]="cart">
        </app-cart-item>


        </tbody>
      </table>
    </div>
  </div>
</div>
