<app-breadcrumbs></app-breadcrumbs>

<div class="container container-ms mt-4 animated fadeIn">
  <div class="row">
    <app-filter-box class="col-12 col-md-3"></app-filter-box>

    <div class="col-12 col-md-9">
      <h4 class="h6-responsive font-weight-bold">Productos</h4>

      <div class="row" *ngIf="loading">
        <app-loading-container
          class="col-12 mt-2 text-center"
          [message]="'Cargando items..'"></app-loading-container>
      </div>
      <div class="row" *ngIf="errorMessage">
        <app-error-container
          class="col-12 mt-2 text-center"
          [errorMessage]="errorMessage"></app-error-container>
      </div>

      <div class="row" *ngIf="!loading && items.length === 0">

        <div class="col-12 mt-2 text-center">

          <app-success-container
            [message]="'Opps... No encontramos productos en esta categoría'">

          </app-success-container>

        </div>

      </div>

      <div class="row animated fadeIn" *ngIf="items.length !== 0 && !loading && !showFilter">

        <app-showcase-item *ngFor="let item of items"
                           [item]="item"
                           class="col-6 col-md-6 col-sm-6 col-lg-4 mb-3 d-flex pd-xss">
        </app-showcase-item>

        <div class="container" *ngIf="!loading && items.length > 0">
          <div class="row" *ngIf="!loading && items.length > 0">
            <div class="col-6 text-left">
              <button class="btn btn-primary" (click)="updatePage(-1)" *ngIf="page > 0"><i
                class="fa fa-step-backward"></i></button>
            </div>
            <div class="col-6 text-right">
              <button class="btn btn-primary" (click)="updatePage(+1)" *ngIf="page < limit"><i
                class="fa fa-step-forward"></i></button>
            </div>
          </div>
        </div>

      </div>

      <div class="row animated fadeIn" *ngIf="!loading && showFilter">
        <app-showcase-item *ngFor="let item of filteredItems"
                           [item]="item"
                           class="col-6 col-md-6 col-sm-6 col-lg-4 mb-3 d-flex pd-xss animated fadeIn">
        </app-showcase-item>

        <div class="container" *ngIf="!loading && filteredItems.length > 0">
          <div class="row" *ngIf="!loading && items.length > 0">
            <div class="col-6 text-left">
              <button class="btn btn-primary" (click)="updatePage(-1)" *ngIf="page > 0"><i
                class="fa fa-step-backward"></i></button>
            </div>
            <div class="col-6 text-right">
              <button class="btn btn-primary" (click)="updatePage(+1)" *ngIf="page < limit"><i
                class="fa fa-step-forward"></i></button>
            </div>
          </div>
        </div>

        <app-info-container
          *ngIf="filteredItems.length === 0"
          class="col-12 text-center animated fadeIn"
          [message]="'No se encontraron productos con los filtros especificados'">
        </app-info-container>


      </div>


    </div>

  </div>
</div>


