
<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container md-fab md-fab-bottom-right">

        <button mat-fab
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
                class="custom-wspp">
          <i class="fab fa-whatsapp fa-lg"></i>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="whatsappRedirect('G')">
            <mat-icon>phone_iphone</mat-icon>
            <span>Gindar</span>
          </button>
          <button mat-menu-item (click)="whatsappRedirect('R')">
            <mat-icon>phone_android</mat-icon>
            <span>Invicta</span>
          </button>
        </mat-menu>

      </div>
    </div>
  </div>
</section>

<!--FOOTER-->
<footer class="page-footer font-small gindar-blue-bg animated fadeIn">
  <div class="bg-footer-suscrip wow fadeIn">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-4 col-lg-4 text-center text-md-left mb-4 mb-md-0">
          <h5 class="mb-0 font-OpenSans-regular">Suscríbete para recibir ofertas exclusivas y más:</h5>
        </div>
        <div class="col-md-5 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <form class="input-group">
            <input id="suscripcion" type="text"
                   class="form-control  input-suscrip z-index-suscrip font-OpenSans-regular"
                   placeholder="Correo Electrónico" aria-label="Tu imail" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-white my-0 z-index-suscrip font-OpenSans-regular" type="button">
                SUSCRÍBETE
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-3 col-lg-3 text-center text-md-right">

          <a href="{{storeInfo.facebookLink1}}" *ngIf="storeInfo?.facebookLink1"
             target="_blank" class="fb-ic a-redes-suscrip">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <a href="{{storeInfo.facebookLink2}}" *ngIf="storeInfo?.facebookLink2"
             target="_blank" class="fb-ic a-redes-suscrip">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>

          <a href="{{storeInfo.instagramLink}}" *ngIf="storeInfo?.instagramLink"
             target="_blank" class="ins-ic a-redes-suscrip">
            <i class="fab fa-instagram white-text mr-4"> </i>
          </a>

          <a href="{{storeInfo.twitterLink}}" *ngIf="storeInfo?.twitterLink"
             target="_blank" class="li-ic a-redes-suscrip">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <a href="{{storeInfo.youtubeLink}}" *ngIf="storeInfo?.youtubeLink"
             target="_blank" class="li-ic a-redes-suscrip">
            <i class="fab fa-youtube white-text mr-4"> </i>
          </a>


        </div>
      </div>
    </div>
  </div>
  <div class="container text-center text-md-left mt-5">
    <div class="row mt-3">
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
        <h5 class="font-OpenSans-bold wow fadeIn">GINDAR - Relojes & Bolsos</h5>
        <hr class="deep-purple accent-ms mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="wow fadeIn font-OpenSans-light">Empresa de joyería y relojes, diseño para moda y accesorios.
          Importadora de productos en marcas exclusivas.</p>
      </div>

      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
        <h5 class="text-uppercase font-OpenSans-bold wow fadeIn">INFORMACIÓN</h5>
        <hr class="deep-purple accent-ms mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="wow fadeIn font-OpenSans-light">
          <a routerLink="nosotros">Sobre nosotros</a>
        </p>
        <p class="wow fadeIn font-OpenSans-light">
          <a routerLink="privacidad">Política de privacidad</a>
        </p>
        <p class="wow fadeIn font-OpenSans-light">
          <a routerLink="devoluciones">Política de devolución</a>
        </p>
        <p class="wow fadeIn font-OpenSans-light">
          <a routerLink="reclamos">Libro de Reclamaciones</a>
        </p>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
        <h5 class="text-uppercase font-OpenSans-bold wow fadeIn">
          <a href="" routerLink="contacto">Contacto</a>

        </h5>
        <hr class="deep-purple accent-ms mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="wow fadeIn font-OpenSans-light">
          <i class="fas fa-home mr-3"></i> {{storeInfo?.address1}}
        </p>
        <a href="javascript:void(0)" class="d-block mb-4 wow fadeIn font-OpenSans-light">
          <i class="fas fa-envelope mr-3"></i> informes@gindarperu.com
        </a>
        <a href="tel:{{storeInfo?.phone1}}" *ngIf="storeInfo?.phone1"
           class="d-block mb-3 wow fadeIn font-OpenSans-light">
          <i class="fas fa-phone mr-3"></i> {{storeInfo?.phone1}}
        </a>
        <a href="tel:{{storeInfo?.phone2}}" *ngIf="storeInfo?.phone2"
           class="d-block mb-3 wow fadeIn font-OpenSans-light">
          <i class="fas fa-phone mr-3"></i> {{storeInfo?.phone2}}
        </a>
        <a href="{{storeInfo?.facebookLink1 || '#'}}" target="_blank"
           class="d-block mb-3 wow fadeIn font-OpenSans-light">
          <i class="fab fa-facebook-square fa-lg mr-3"></i> GindarBolsosyRelojes
        </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3 font-OpenSans-light">
    © {{year}} Copyright - Todos los derechos reservados
    <a href="/"> www.gindarperu.com</a>.
  </div>
</footer>

<app-login-modal></app-login-modal>
