<app-breadcrumbs></app-breadcrumbs>
<div class="container" *ngIf="loading">
  <div class="row">
    <app-loading-container
      class="col-12 text-center animated fadeInLeft"
      message="Cargando carrito..."></app-loading-container>
  </div>
</div>

<div class="container" *ngIf="actionLoading">
  <div class="row">
    <app-loading-container
      class="col-12 text-center animated fadeIn"
      message="Actualizando carrito..."></app-loading-container>
  </div>
</div>
<div
  *ngIf="!loading && !actionLoading"
  class="container animated fadeInUp">
  <h4 class="h4-responsive h4-responsive-xs py-3">
    Tienes
    <span>
      <b> {{cartAmount}} </b>
    </span>
    {{text}} en tu carrito de compras</h4>

  <div class="row pd-xss-pagar" *ngIf="cartAmount > 0">

    <app-store-cart
      *ngIf="gindarCartItems.length > 0"
      storeName="Gindar Perú"
      [items]="gindarCartItems"
      class="col-md-12 table-col-ms-pd">
    </app-store-cart>

    <app-store-cart
      *ngIf="rogerCartItems.length > 0"
      storeName="Roger Finqin"
      [items]="rogerCartItems"
      class="col-md-12 table-col-ms-pd">
    </app-store-cart>

    <app-store-cart
      *ngIf="otherCartItems.length > 0"
      storeName="Otros"
      [items]="otherCartItems"
      class="col-md-12 table-col-ms-pd">
    </app-store-cart>

    <div class="col-md-12 table-col-ms-pd">
      <div class="card my-3 table-vert-ms font-OpenSans-regular">
        <div class="card-body">
          <h4 class="h4-responsive-xs">Total del carrito en : {{storeSelected}}</h4>
          <hr class="mt-2 mb-3">
          <div class="row">
            <div class="col-6 col-md-6 text-left my-2">
              <h5 class="h4-responsive-xs font-weight-bold">SUB-TOTAL</h5>
            </div>

            <div class="col-6 col-md-6 text-right my-2">
              <h5 class="h4-responsive-xs text-primary">S/ {{total.toFixed(2)}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-6 text-left my-2">
              <h5 class="h4-responsive-xs font-weight-bold">I.G.V.</h5>
            </div>
            <div class="col-6 col-md-6 text-right my-2">
              <h5 class="h4-responsive-xs text-primary">S/. 0.00</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-6 col-md-6 text-left my-2">
              <h5 class="h4-responsive-xs font-weight-bold">Descuento</h5>
            </div>
            <div class="col-6 col-md-6 text-right my-2">
              <h5 class="h4-responsive-xs text-warning">- S/ 0.00</h5>
            </div>
          </div>
          <hr class="mt-3 mb-2">
          <div class="row">
            <div class="col-6 col-md-6 text-left my-2">
              <h5 class="h4-responsive-xs font-weight-bold">TOTAL</h5>
            </div>
            <div class="col-6 col-md-6 text-right my-2">
              <h5 class="h4-responsive-xs text-dark font-weight-bold">
                S/ {{total.toFixed(2)}}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="md-form mb-0">
                <!--<button type="submit" class="btn btn-success btn-block">Actualizar CArrito</button>-->
              </div>
            </div>
            <div class="col-md-12">
              <div class="md-form mb-0 mt-4">
                <form>
                  <button type="button" class="waves-effect waves-light btn btn-gindar btn-block mt-0">
                    Realizar pedido
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
