<app-breadcrumbs></app-breadcrumbs>

<swal
  #errorSwal
  title="Error al generar pago"
  [text]=orderErrorMessage
  icon="error"
  [showCancelButton]="false"
  [focusCancel]="true">
</swal>

<div class="container" *ngIf="loading">

  <div class="row">
    <app-loading-container
      class="col-12 text-center animated fadeInLeft"
      message="Cargando carrito..."></app-loading-container>
  </div>
</div>

<div class="container" *ngIf="actionLoading">
  <div class="row">
    <app-loading-container
      class="col-12 text-center animated fadeIn"
      message="Actualizando carrito..."></app-loading-container>
  </div>
</div>


<app-cart-table
  *ngIf="!loading && !actionLoading && !showOrderForm"
  [ngClass]="{'fadeOut': showOrderForm}"
  class="row animated">
</app-cart-table>

<app-cart-form
  *ngIf="!loading && !actionLoading && showOrderForm && !orderLoading"
  [errorSwal]="errorSwal"
  class="row animated">
</app-cart-form>

<div class="container"
     *ngIf="orderLoading">
  <div class="row">
    <app-loading-container
      class="col-12 text-center"
      [message]="orderMessage">
    </app-loading-container>
  </div>
</div>


