<div>
  <nav
    class=" navbar navbar-expand-lg navbar-light scrolling-navbar gindar-yellow-bg pd-navbar-xs z-index-nav-center-end">
    <div class="container">
      <a routerLink="/" class="navbar-brand navbar-brand-logo visible-menu-dispositivo">
        <img src="../../../../../assets/img/logo.png" alt="Gindar | Bolsos & Relojes">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarGindar"
              aria-controls="navbarGindar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarGindar">
        <ul class="navbar-nav font-OpenSans-regular nav-link-a-nav text-center tam-font-size">
          <!-- =========== PC MENU ==================== -->

          <!--PROMOCION DEL MES-->
          <li class="nav-item bd-cl-tb">
            <a class="nav-link btn-promo animated pulse infinite" routerLink="promociones"><i
              class="fas fa-tag fa-flip-horizontal"></i> PROMOCIONES</a>
          </li>
          <!-- RELOJES -->
          <li class="nav-item dropdown mega-dropdown visible-mega-menu">
            <a class="nav-link dropdown-toggle text-uppercase tfs1" id="navbarGindar2"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">INVICTA
            </a>
            <div class="dropdown-menu mega-menu mega-hover mega-menu-coleccion v-1 z-depth-1 white py-5 px-3"
                 aria-labelledby="navbarMegaMenuColeccion">
              <div class="row">

                <div class="col-md-4 col-lg-4 col-xl-4 sub-menu mb-md-0 mb-xl-0 mb-4" *ngFor="let item of invictaMenu">
                  <ul class="list-unstyled">
                    <li *ngFor="let tag of item">
                      <a class="menu-item pl-0 pd-a-ms" routerLink="invicta/{{tag.text}}">
                        {{tag.text}}
                      </a>
                    </li>
                  </ul>
                </div>

              </div>
            </div>
          </li>

          <!-- MANS -->
          <li class="nav-item dropdown mega-dropdown visible-mega-menu">
            <a class="nav-link dropdown-toggle text-uppercase tfs1" id="navbarMegaMenuHombres"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">HOMBRES</a>
            <div class="dropdown-menu mega-menu mega-hover mega-menu-mujeres v-1 z-depth-1 white py-5 px-3"
                 aria-labelledby="navbarMegaMenuHombres">
              <div class="row">

                <div class="col-md-3 col-lg-3 col-xl-3 sub-menu mb-xl-0 mb-4"
                     *ngFor="let subline of subLines | sublinesFilter: 1">
                  <h6 class="sub-title text-uppercase font-weight-bold">{{subline.name}}</h6>
                  <div class="card z-depth-1">
                    <a href="javascript:void(0)"
                       routerLink="vitrina/{{subline.rucPrefix}}/{{subline.code}}"
                       class="pd-0-card-img">
                      <div class="view overlay c-pointer zoom">
                        <img src="./assets/img/navbar/navbar_{{subline.imageCode}}.jpg"
                             class="img-fluid rounded mb-0" alt="smaple image">
                        <div class="mask flex-center rgba-cyan-strong">
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </li>

          <!-- WOMANS -->
          <li class="nav-item dropdown mega-dropdown visible-mega-menu">
            <a class="nav-link dropdown-toggle text-uppercase tfs1" id="navbarMegaMenuMujeres"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">MUJERES</a>
            <div class="dropdown-menu mega-menu mega-hover mega-menu-mujeres v-1 z-depth-1 white py-5 px-3"
                 aria-labelledby="navbarMegaMenuHombres">
              <div class="row">

                <div class="col-md-3 col-lg-3 col-xl-3 sub-menu mb-xl-0 mb-4"
                     *ngFor="let subline of subLines | sublinesFilter: 2">
                  <h6 class="sub-title text-uppercase font-weight-bold">{{subline.name}}</h6>
                  <div class="card z-depth-1">
                    <a href="javascript:void(0)"
                       routerLink="vitrina/{{subline.rucPrefix}}/{{subline.code}}"
                       class="pd-0-card-img">
                      <div class="view overlay c-pointer zoom">
                        <img src="./assets/img/navbar/navbar_{{subline.imageCode}}.jpg"
                             class="img-fluid rounded mb-0" alt="smaple image">
                        <div class="mask flex-center rgba-cyan-strong">
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </li>

          <!-- ==================== MOBILE MENU ==================== -->
          <li class="nav-item dropdown bd-cl-tb visible-menu-dispositivo border-0-xs">
            <a class="nav-link waves-effect waves-light" id="navbarMenuDispoColeccion" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">INVICTA</a>
            <div class="dropdown-menu dp-menu-ms bd-sub-menu border-0 text-center"
                 aria-labelledby="navbarMenuDispoColeccion">
              <a class="dropdown-item dp-a-ms" *ngFor="let tag of invictaMobileItems" routerLink="invicta/{{tag.text}}">
                {{tag.text}}
              </a>
            </div>
          </li>

          <li class="nav-item dropdown bd-cl-tb visible-menu-dispositivo">
            <a class="nav-link waves-effect waves-light" id="navbarMenuDispoHombres" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">HOMBRES</a>
            <div class="dropdown-menu dp-menu-ms bd-sub-menu border-0 text-center"
                 aria-labelledby="navbarMenuDispoHombres">
              <a *ngFor="let subline of subLines | sublinesFilter: 1" class="dropdown-item dp-a-ms"
                 href="javascript:void(0)">{{subline.name}}</a>
            </div>
          </li>

          <li class="nav-item dropdown bd-cl-tb visible-menu-dispositivo">
            <a class="nav-link waves-effect waves-light" id="navbarMenuDispoMujeres" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">MUJERES</a>
            <div class="dropdown-menu dp-menu-ms bd-sub-menu border-0 text-center"
                 aria-labelledby="navbarMenuDispoMujeres">
              <a *ngFor="let subline of subLines | sublinesFilter: 2" class="dropdown-item dp-a-ms"
                 href="javascript:void(0)">{{subline.name}}</a>
            </div>
          </li>

          <li class="nav-item bd-cl-tb">
            <a class="nav-link tfs1" routerLink="novedades">NUEVOS INGRESOS</a>
          </li>
          <li class="nav-item bd-cl-tb">
            <a class="nav-link tfs1" routerLink="nosotros">NOSOTROS</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons ul-redes display-none-redes tam-font-size">
          <li class="nav-item">
            <a href="tel:945648765" class="nav-link waves-effect waves-light font-OpenSans-regular tfs1">
              <i class="fa fa-phone"></i> 945648765
            </a>
          </li>
          <li class="nav-item">
            <a href="tel:979278971" class="nav-link waves-effect waves-light font-OpenSans-regular tfs1">
              <i class="fa fa-phone"></i> 979278971
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.facebook.com/GindarBolsosyRelojes/" target="_blank"
               class="nav-link waves-effect waves-light tfs1">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.instagram.com/gindar_bolsos_y_relojes/" target="_blank"
               class="nav-link waves-effect waves-light tfs1">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://www.youtube.com/channel/UCMymYlbVYXpWtCyVa1ZQhZw" target="_blank"
               class="nav-link waves-effect waves-light">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
