<div class="card align-items-center wider card-ecommerce">
  <div class="view overlay zoom">
    <img src="./assets/img/img_producto/test.jpg" class="card-img-top"
         alt="">
    <a href="javascript:void(0)" routerLink="/vitrina/detalle/123">
      <!--LEYENDA DE DESCUENTO-->
      <p class="leyenda-prod-descuento">50%</p>
      <!--FIN LEYENDA DE DESCUENTO-->
      <div class="mask flex-center rgba-stylish-strong">
        <p class="white-text"><i class="fas fa-search-plus fa-2x"></i></p>
      </div>
    </a>
  </div>
  <div class="card-body card-body-cascade text-center">
    <h5 class="card-title mb-2">
                <span class="text-primary mb-2 font-OpenSans-regular">Invicta
                </span>
    </h5>
    <h5 class="text-muted">Specialty Men Mod. 12847</h5>

    <!--              -->
    <!--              <p class="font-weight-bold text-dark">-->
    <!--                <strong>S/. <?php echo number_format($reg[3], 2); ?></strong>-->
    <!--              </p>-->

    <p class="font-weight-bold text-dark text-tachado">
      <strong>S/ 975.00</strong> <span
      class="badge badge-primary text-oferta ml-1">S/ 487.00</span>
    </p>
  </div>
</div>
