<app-breadcrumbs></app-breadcrumbs>

<div class="container container-ms mt-4 mb-5 animated fadeInUp">
  <div class="row" *ngIf="loading">
    <app-loading-container
      class="col-12 text-center"
      [message]="'Obteniendo información de producto...'">
    </app-loading-container>
  </div>

  <div class="row" *ngIf="errorMessage && !loading">
    <app-error-container
      [errorMessage]="errorMessage"
      class="col-12 text-center">
    </app-error-container>
  </div>

  <div class="row" *ngIf="!loading && !errorMessage">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-gc">
            <!--            SLIDER-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 mt-2 mb-c1">

              <div id="carousel-thumb"
                   class="carousel carousel-pause slide carousel-fade carousel-thumbnails border-carousel-prod"
                   data-ride="carousel">
                <div class="row">
                  <div class="col-12 col col-pers-prod d-flex-start-ms">
                    <ul class="carousel-indicators carousel-indicators-ms">

                      <li
                        *ngFor="let image of images; index as index"
                        data-target="#carousel-thumb"
                        [ngClass]="{'active': index===0}"
                        [attr.data-slide-to]="index"
                        [attr.active]="index === 0">
                        <img [src]="image?.image | itemImage" width="50" alt="">
                      </li>

                    </ul>
                  </div>
                  <div class="col col-xs-ms">
                    <div class="carousel-inner" role="listbox">

                      <div class="zoom-img_ms carousel-item "
                           *ngFor="let image of images; index as i"
                           [ngClass]="{'active': i === 0}">
                        <img class="d-block w-100"
                             [src]="image.image | itemImage"
                             [attr.data-zoom-image]="image.image | itemImage"
                             alt="Gindar imagen {{i}}">
                      </div>

                    </div>
                  </div>
                </div>
              </div>


            </div>

            <!--DESCRIPTION-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 mt-2">
              <h5 class="card-title mb-2">
                <strong>
                  <span class="gindar-blue-text mb-2">{{item.brandName}}</span>
                </strong>
              </h5>
              <h5 class="text-muted">{{item.description}}</h5>
              <p class="font-weight-bold text-dark" *ngIf="item.sysPrice < item.webPrice">
                <span class="badge badge-primary text-oferta ml-1">S/ {{item.webPrice}}</span>
              </p>
              <p class="font-weight-bold text-dark text-tachado" *ngIf="item.sysPrice > item.webPrice">
                <strong>S/. {{item.sysPrice}}</strong>
                <span class="badge badge-primary text-oferta ml-1">S/ {{item.webPrice}}</span>
              </p>
              <hr>
              <div class="row">

                <div class="col-6 col-md-6">
                  <div class="md-form mt-2">
                    <input [(ngModel)]="amount" [value]="amount" type="number" min="1" id="itemAmount"
                           class="form-control">
                    <label for="itemAmount" class="active">Cantidad</label>
                  </div>
                </div>

                <div class="col-6 col-md-6" *ngIf="item.sizes.length > 0">
                  <div class="md-form mt-2">
                    <label for="itemSizes" class="active">Talla</label>
                    <select name="itemSizes" id="itemSizes"
                            (change)="changeItemCode($event)"
                            class="form-control">
                      <option *ngFor="let size of item.sizes"
                              [selected]="item.code === size.itemCode"
                              [value]=size.itemCode>{{size.size}}</option>
                    </select>
                  </div>
                </div>

                <div [ngClass]="{'col-6': item.sizes.length === 0 , 'col-12': item.sizes.length > 0}">
                  <button type="button"
                          [disabled]="cartLoading"
                          (click)="addItemToCart()"
                          class="btn btn-primary waves-effect waves-light float-right">
                    <i class="fas fa-shopping-cart"></i>
                    Añadir al Carrito
                  </button>
                </div>

                <div class="col-12 text-center animated jello" *ngIf="cartErrorMessage && !cartLoading">
                  <app-error-container
                    [errorMessage]="cartErrorMessage">
                  </app-error-container>
                </div>

                <div class="col-12 text-center animated fadeIn" *ngIf="!cartLoading && cartMessage">
                  <app-success-container
                    [message]="cartMessage">
                  </app-success-container>
                </div>

                <div class="col-12 text-center animated fadeIn" *ngIf="cartLoading">
                  <app-loading-container
                    [message]="'Agregando item al carrito'"
                  ></app-loading-container>
                </div>

                <div class="col-md-12 my-3">
                  <hr>
                  <h4 class="text-primary">Marca</h4>
                  <p class="text-muted font-weight-light">{{item.brandName}}</p>
                  <h4 class="text-primary">Descripción</h4>
                  <p class="text-muted font-weight-light" [innerHTML]="item.shortDescription | sanitizerHtml">
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
