<div class="row border-bottom">
  <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">

<!--      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>-->
      <a class="navbar-minimalize minimalize-styl-2"> Nombre de la página </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <span class="m-r-sm text-muted welcome-message">Bienvenido a Gindar-Admin</span>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="logout()">
          <i class="fa fa-sign-out-alt"></i> Salir
        </a>
      </li>
    </ul>

  </nav>
</div>
