<nav class="navbar navbar-expand-lg navbar-light white b-shadow bd-nav-center z-index-nav-center"
     [ngClass]="{'scrolling-navbar': isExpanded, 'animated fadeIn': isExpanded, 'animated fadeIn ': !isExpanded}">
  <div class="container">
    <div class="row w-100 d-flex mg-letf-navbar-center">
      <div class="col-8 col-sm-6 col-md-6 col-lg-4 col-xl-4 align-self-center pd-xs-cero-col">
        <form class="form-inline pd-input-nabvar1" autocomplete="off">
          <div class=" my-0 w-100">
            <input #uquery type="text"
                   [value]="query"
                   class="auto form-control mr-sm-2 my-0 form-control-search-width form-control-sm"
                   (keyup.enter)="search(uquery.value)"
                   placeholder="Buscar producto..." aria-label="Search">
          </div>
        </form>
      </div>
      <div class="col-lg-4 col-xl-4 logo-img-main text-center visible-ms">
        <a routerLink="/">
          <img [ngClass]="{'img-logo-secund': !isExpanded, 'scrolling-navbar': isExpanded}" src="../../../../../assets/img/logo.png"
               alt="Gindar">
        </a>
      </div>
      <div
        class="col-4 col-sm-6 col-md-6 col-lg-4 col-xl-4 align-self-center d-flex justify-content-end car-login pd-xs-cero-col">
        <a routerLink="carrito">
          <div class="text-pimp pd-car-ms">
            <i class="fas fa-shopping-cart"></i>
          </div>
          <span id="ordenes" class="counter-car caract-count-car">{{cartAmount}}</span>
        </a>

        <a *ngIf="!isAuthenticated" href="javascript:void(0)" (click)="resetAuthForm()" data-toggle="modal" data-target="#loginModal">
          <i class="far fa-user"></i> <span class="visible-ms font-OpenSans-regular ml-1"> Login</span>
        </a>

        <a *ngIf="isAuthenticated" href="javascript:void(0)" (click)="logout()">
          <i class="fas fa-power-off"></i> <span class="visible-ms font-OpenSans-regular ml-1">Cerrar Sesión</span>
        </a>

      </div>
    </div>
  </div>
</nav>


