<div class="container mt-4 animated fadeInUp">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="animated fadeIn">
        <h1 class="mb-4 pt-bloque h3 text-center font-OpenSans-bold estilizado animated fadeIn">CONTÁCTENOS</h1>
      </div>
    </div>
  </div>
  <hr>
  <div class="row my-5">
    <div class="col-md-12 mb-5">
      <agm-map style="height: 350px" [latitude]="lat" [longitude]="lng" [zoom]="15">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mb-5 wow fadeIn">
      <div class="card">
        <div class="row">
          <div class="col-lg-8">
            <div class="card-body form">
              <h3 class="mt-4"><i class="fas fa-envelope pr-2"></i>Déjanos un mensaje:</h3>
              <form action="#" method="POST">
                <div class="row">
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text" id="uname" class="form-control">
                      <label for="uname" class="">Nombre</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="md-form mb-0">
                      <input type="text" id="uemail" class="form-control">
                      <label for="uemail" class="">E-mail</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <input type="text" id="subject" class="form-control">
                      <label for="subject" class="">Asunto</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      <textarea id="message" class="form-control md-textarea" rows="3"></textarea>
                      <label for="message">Mensaje...</label>
                      <button type="button" class="btn btn-gindar waves-effect waves-light">ENVIAR</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card-body contact text-center h-100 white-text">
              <h4 class="my-4 pb-2">Información de Contacto</h4>
              <ul class="text-lg-left list-unstyled ml-contact">
                <li>
                  <p><i class="fas fa-map-marker-alt pr-2"></i>Vicente de la Vega 800 - Tienda 04, Chiclayo</p>
                </li>
                <li>
                  <p><i class="fas fa-phone pr-2"></i> <a href="tel:966518615" class="white-text">966 518 615 </a></p>
                </li>
                <li>
                  <p><i class="fas fa-envelope pr-2"></i><a href="informes@gindar.com" class="white-text">informes@gindar.com</a>
                  </p>
                </li>
              </ul>
              <hr class="hr-light my-4">
              <ul class="list-inline text-center list-unstyled">
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/GindarBolsosyRelojes/" target="_blank" class="p-2 fa-lg white-text">
                    <i class="fab fa-facebook-square fa-lg"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
