<div class="col-md-4">
  <div class="md-form form-group">
    <input
      placeholder="41111 **** ***** ****"
      class="form-control" type="number" size="20"
      data-culqi="card[number]"
      id="card[number]"
      name="cardNumber"
      required>
    <label for="card[number]">Número de Tarjeta</label>
  </div>
</div>

<div class="col-md-2">
  <div class="md-form form-group">
    <input class="form-control" type="text" size="4"
           data-culqi="card[cvv]"
           id="card[cvv]"
           placeholder="****"
           name="cardCVV"
           required>
    <label for="card[cvv]">CVV</label>
  </div>
</div>


<div class="col-md-2">
  <div class="md-form form-group">
    <input class="form-control"
           type="text" size="2"
           data-culqi="card[exp_month]"
           name="cardMonth"
           id="card[exp_month]">
    <label for="card[exp_month]">Mes de expiración (MM)</label>
  </div>
</div>

<div class="col-md-2">
  <div class="md-form form-group">
    <input class="form-control"
           type="text"
           size="4"
           data-culqi="card[exp_year]"
           name="cardYear"
           id="card[exp_year]">
    <label for="card[exp_year]">Año de Expiración (YYYY)</label>
  </div>
</div>


