<!-- WHATSAPP -->
<div class="whatsapp">
  <a href="https://api.whatsapp.com/send?phone=51966518615" class="btn-floating btn-floating-whstp bg-whtsp waves-effect waves-light" target="_blank">
    <i class="fab fa-whatsapp fa-lg"></i>
  </a>
</div>
<!-- FIN WHATSAPP -->

<!--FOOTER-->
<footer class="page-footer font-small gindar-blue-bg animated fadeIn">
  <div class="bg-footer-suscrip wow fadeIn">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-4 col-lg-4 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0 font-OpenSans-regular">Suscr&iacute;bete para recibir ofertas exclusivas y m&aacute;s:</h6>
        </div>
        <div class="col-md-5 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <form class="input-group">
            <input id="suscripcion" type="text" class="form-control  input-suscrip z-index-suscrip font-OpenSans-regular" placeholder="Correo Electrónico" aria-label="Tu imail" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-white my-0 z-index-suscrip font-OpenSans-regular" type="button" (click)="gindarSubscription()">SUSCR&Iacute;BETE</button>
            </div>
          </form>
        </div>
        <div class="col-md-3 col-lg-3 text-center text-md-right">
          <a href="https://www.facebook.com/GindarBolsosyRelojes/" target="_blank" class="fb-ic a-redes-suscrip">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <a href="https://www.instagram.com/gindar_bolsos_y_relojes/" target="_blank" class="ins-ic a-redes-suscrip">
            <i class="fab fa-instagram white-text mr-4"> </i>
          </a>
          <a href="#" target="_blank" class="li-ic a-redes-suscrip">
            <i class="fab fa-youtube white-text mr-4"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center text-md-left mt-5 pt-5">
    <div class="row mt-3">
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
        <h6 class="font-OpenSans-bold wow fadeIn">GINDAR - Relojes & Bolsos</h6>
        <hr class="deep-purple accent-ms mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="wow fadeIn font-OpenSans-light">Empresa de joyer&iacute;a y relojes, diseño para moda y accesorios. Importadora de productos en marcas exclusivas.</p>
      </div>

      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
        <h6 class="text-uppercase font-OpenSans-bold wow fadeIn">INFORMACI&Oacute;N</h6>
        <hr class="deep-purple accent-ms mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="wow fadeIn font-OpenSans-light">
          <a routerLink="nosotros">Sobre nosotros</a>
        </p>
        <!--                <p class="wow fadeIn font-OpenSans-light">
                            <a href="LibroDeReclamaciones">Libro de Reclamaciones</a>
                        </p>-->
        <p class="wow fadeIn font-OpenSans-light">
          <a routerLink="privacidad">Pol&iacute;tica de privacidad</a>
        </p>
        <p class="wow fadeIn font-OpenSans-light">
          <a routerLink="devoluciones">Pol&iacute;tica de devoluci&oacute;n</a>
        </p>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-OpenSans-bold wow fadeIn">Cont&aacute;cto</h6>
        <hr class="deep-purple accent-ms mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="wow fadeIn font-OpenSans-light">
          <i class="fas fa-home mr-3"></i> San Jos&eacute; 714 y Alfredo Lapoint 808 - Chiclayo
        </p>
        <a href="javascript:void(0)" class="d-block mb-4 wow fadeIn font-OpenSans-light">
          <i class="fas fa-envelope mr-3"></i> informes@gindarperu.com
        </a>
        <a href="tel:966518615" class="d-block mb-3 wow fadeIn font-OpenSans-light">
          <i class="fas fa-phone mr-3"></i> 966 518 615
        </a>
        <a href="https://www.facebook.com/GindarBolsosyRelojes/" target="_blank" class="d-block mb-3 wow fadeIn font-OpenSans-light">
          <i class="fab fa-facebook-square fa-lg mr-3"></i> GindarBolsosyRelojes
        </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3 font-OpenSans-light">
    © 2019 Copyright - Todos los derechos reservados
    <a href="/"> www.gindarperu.com</a>.
  </div>
</footer>

<app-login-modal></app-login-modal>
